/* My Project Section */

.container-mt {
  margin-top: 100px;
}

.my-projects {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 20px;
}

.my-projects img {
  width: 100%;
}

/* Common Section Title*/
.st {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
/* Common Section Title End*/

.button {
  width: 300px;
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button h2 {
  background-color: var(--background-color);
  color: var(--font-primary-color);
  border: 1px solid var(--font-primary-color);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 30px;
}

/*My Blogs Section*/

.my-blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.my-blogs img {
  width: 100%;
}

.my-blogs h3 {
  background-color: var(--font-primary-color);
  width: 100px;
  padding: 17px 20px;
  font-size: 20px;
  font-weight: 200;
  color: var(--background-color);
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dot {
  width: 20px;
  height: 20px;

  border-radius: 100%;
}
.c1 {
  background-color: var(--primary-color);
}

.c2 {
  background-color: #5e4af1;
}

.dt-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.dt {
  display: flex;
  gap: 10px;
}

.b-t {
  font-weight: 300;
  font-size: 40px;
}

/*Testimonials Section Start*/
.testimonials-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.testimonials-h h1 {
  font-weight: bolder;
  font-size: 80px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ba0bf9 0%, #5e4af1 100%);
  background-clip: text;
  color: transparent;
}

.testimonials-h p {
  width: 600px;
  font-weight: 200;
  margin-bottom: 50px;
}

.t-card {
  display: flex;
}

.t-cards-wrapper {
  display: flex;
  gap: 20px;
}

.t-cards-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-side {
  width: 50%;
}

.left-side img {
  width: 100%;
  height: 100%;
}

.right-side {
  width: 50%;
}

.t-card-right {
  background: linear-gradient(
    93.43deg,
    rgba(94, 74, 241, 0.17) 0%,
    rgba(186, 11, 249, 0.2) 100%
  );
}

.t-card-h-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 20px;
}

.t-card-h-p h1 {
  font-weight: 600;
  font-size: 38px;
}

.t-card-h-p p {
  font-weight: 300;
  font-size: 20px;
}

.t-cards-right {
  display: flex;
  flex-direction: column;
}

.t-card-up {
  width: 100%;
  height: 100%;
}

.t-card-up img {
  width: 100%;
  height: 100%;
}
.t-card-down {
  background: linear-gradient(
    93.43deg,
    rgba(94, 74, 241, 0.17) 0%,
    rgba(186, 11, 249, 0.2) 100%
  );
  padding-bottom: 248px;
}

.t-card-down-h-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transform: translateY(62%);
  padding: 0 20px;
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  /*Responsive My Projects Section */
  .my-projects {
    grid-template-columns: repeat(1, 1fr);
  }

  /*Responsive My Blogs Section */
  .my-blogs-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-h p {
    width: 420px;
  }
  .t-cards-wrapper {
    flex-direction: column;
  }

  .t-card {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
}
